#- Integer legacy process-data records.
record(longout, "${ECMC_P}PWM${CH}-Width") {
  info(asyn:READBACK, "1")
  field(DESC, "ED2504 PWM ${CH} pulse width")
  field(PINI, "1")
  field(DTYP, "asynInt32")
  field(OUT,  "@asyn(${PORT},${ADDR=0},${TIMEOUT=1})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynInt32/ec${MASTER_ID}.s${SLAVE_POS}.PWM_Width${CH}=")
  field(HOPR, "32767")
  field(LOPR, "0")
}

record(longin, "${ECMC_P}PWM${CH}-Width-RB") {
  field(DESC, "ED2504 PWM ${CH} width readback")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn(${PORT},${ADDR=0},${TIMEOUT=1})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynInt32/ec${MASTER_ID}.s${SLAVE_POS}.PWM_Width${CH}?")
  field(SCAN, "I/O Intr")
  field(TSE,  "-2")
}

record(longout, "${ECMC_P}PWM${CH}-Period") {
  info(asyn:READBACK, "1")
  field(DESC, "ED2504 PWM ${CH} period")
  field(PINI, "1")
  field(DTYP, "asynInt32")
  field(OUT,  "@asyn(${PORT},${ADDR=0},${TIMEOUT=1})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynInt32/ec${MASTER_ID}.s${SLAVE_POS}.PWM_Period${CH}=")
  field(EGU,  "us")
  field(HOPR, "1000000")
  field(LOPR, "16")
}

record(longin, "${ECMC_P}PWM${CH}-Period-RB") {
  field(DESC, "ED2504 PWM ${CH} period readback")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn(${PORT},${ADDR=0},${TIMEOUT=1})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynInt32/ec${MASTER_ID}.s${SLAVE_POS}.PWM_Period${CH}?")
  field(SCAN, "I/O Intr")
  field(EGU,  "us")
  field(TSE,  "-2")
}

record(bi, "${ECMC_P}DI${CH}") {
  field(DESC, "ED2504 digital input ${CH}")
  field(PINI, "1")
  field(DTYP, "asynUInt32Digital")
  field(INP,  "@asynMask(${PORT},${ADDR=0},0x1,${TIMEOUT=1})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynUInt32Digital/ec${MASTER_ID}.s${SLAVE_POS}.DI${CH}?")
  field(SCAN, "I/O Intr")
  field(ZNAM, "Low")
  field(ONAM, "High")
  field(TSE,  "-2")
}
